<div
  *ngIf="boards; else noBoardList"
  class="boards"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="onDrop($event)"
>
  <app-board-container cdkDrag *ngFor="let board of boards" [board]="board">
    <!-- <mat-icon cdkDragHandle class="handle">drag_indicator</mat-icon> -->
  </app-board-container>

  <div class="board-button">
    <button
      mat-raised-button
      color="accent"
      cdkDragDisabled
      (click)="onOpenBoardDialog()"
    >
      New Board
    </button>
  </div>
</div>
<ng-template #noBoardList>
  <div>No Boards Loaded</div>
</ng-template>

<!-- <div *ngIf="boards; else noBoardList">
  {{ boards | json }}
  Test Test
</div>
<ng-template #noBoardList>
  <div>No Boards Loaded</div>
</ng-template> -->
