<ng-container *ngIf="board; else noBoard">
  <mat-card cdkDrag class="outer-card">
    <mat-icon cdkDragHandle class="handle">drag_indicator</mat-icon>
    <mat-card-header>
      <!-- Slot for the handle -->
      <ng-content></ng-content>
      <mat-card-title>{{ board.title }}</mat-card-title>
      <mat-card-subtitle>{{ board.id }}</mat-card-subtitle>
    </mat-card-header>

    <div
      class="tasks"
      cdkDropList
      cdkDropListOrientation="vertical"
      (cdkDropListDropped)="onTaskDrop($event)"
    >
      <div
        class="inner-card"
        cdkDrag
        *ngFor="let task of board.tasks; let i = index"
        (click)="onOpenDialog(task, i)"
      >
        <mat-card [ngClass]="task.label ? task.label : ''">{{
          task.description
        }}</mat-card>
      </div>
      <button mat-stroked-button (click)="onOpenDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card>
</ng-container>
<ng-template #noBoard>
  <div>No Board Found!</div>
</ng-template>
