<main>
  <!-- Logged In -->
  <div *ngIf="!(user$ | async)">
    <h1>Login</h1>

    <div>
      <button mat-raised-button appGoogleSignin>
        <img src="/assets/google-logo.svg" alt="Google google-logo" />
        Login with Google
      </button>
    </div>

    <h5>Or</h5>
    <app-email-login></app-email-login>
  </div>

  <!-- Not Logged In -->
  <div *ngIf="user$ | async as user" class="logout">
    <p>
      Logged in as <strong>{{ user.email }}</strong>
    </p>
    <button mat-stroked-button (click)="afAuth.signOut()">Logout</button>
  </div>
</main>
